.menu-item-participant {
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: var(--text-color);
  text-decoration: none;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.menu-item-participant:focus {
  outline: none;
}

.menu-item-participant .icon-button {
  margin-right: 0.5rem;
}

.menu-item-participant .icon-button:hover {
  filter: none;
}

.menu-item-participant:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.dropdown-participant {
  position: absolute;
  z-index: 1001;
  right: 100px;
  backdrop-filter: blur(10px);
  top: 6vh;
  width: 225px;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}
