.main-div {
  min-height: 100vh;
  width: 100%;
}
.main-div::-webkit-scrollbar {
  display: none;
}

.leftside,
.rightside {
  height: 94.5vh;
  width: 100%;
}

.leftside {
  background-color: #141414;
  border-width: 0;
  border-right-width: 0.25px;
  border-style: solid;
}

.rightside {
  background-color: #141414;
  border-width: 0;
  border-left-width: 0.25px;
  border-style: solid;
}

/* @media screen and (min-width: 768px) {
  .leftside,
  .rightside {
    height: 100vh;
  }
} */

a.powered-by-firepad {
  display: none;
}

#firepad-container {
  width: 100%;
  font-size: 15px;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
